.App {
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(45, 144, 144);
  /* rgb(85, 81, 81); */
}

/* .App-link {
  color: #61dafb;
} */

/* textarea {
  outline: none;
} */

/*textarea*/

textarea {
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 80px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 #ffffff;
  outline-width: 0;
}

/* NAV-BAR*/
.nav-style {
  background: #ff5733;
  margin: 0 0 1rem;
  width: 100vw;
  height: 70px;
  position: top;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;

  /* background: red;
  width: 100vw;
  height: 120px;
  display: flex;
  position: top;
  margin:0 25px; */
}

.nav-style-not {
  background: #ff5733;
  margin: 0 0 1rem;
  width: 100vw;
  height: 70px;
  position: top;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
}

.nav-style button {
  background: #f58b73;
  color: rgb(238, 231, 231);
  font-size: 30px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}
.nav-style button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0);
  background: #f54c26;
  cursor: pointer;
}
/* SCSS del LOGIN */

.loginBox {
  /* // display: flex; */
  position: relative;
  align-content: center;
  justify-content: center;
  margin-top: 2%;
  padding: 10px;
  /* // top: 80%;*/
  /* left: 50%; */
  /* transform: translate(-50%, 0%); */
  width: 450px;
  height: 400px;
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  transition: 0.5s;
}

.loginBox a {
  color: rgb(238, 231, 231);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.loginBox:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0);
  background: #87f5fb;

  /* background: rgba(45, 144, 144, 0.6); */
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #043074;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  margin: 5px;
  /* padding-top: 5px; */
  color: #fff;
  font-size: 16px;
  background: #4af516;
  cursor: pointer;
  border-radius: 20px;
}
.loginBox input[type="submit"]:hover {
  background: #6cf71b;
  color: #262626;
}

.loginBox a {
  color: rgb(238, 231, 231);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.campo {
  border-radius: 15px;
  margin:5px;
}

/** RECORDER*/
.btn-box {
  width: 500px;
  height: 100px;
  text-align: center;
  padding: 2px;
}

.btn-box button {
  padding: 10px;
}

/**todolist*/
.ContCalmList {
  display: flex;
  justify-content: center;
}

/* .todoListMain input {
  padding: 10px;
  font-size: 50px;
  border: 2px solid #fff;
  width: 300px;
} */

.todoListMain button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  border-radius: 5px;
}

.todoListMain button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  width: 500px;
}

.todoListMain .theList li {
  color: rgb(39, 38, 38);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
}

.recordBox {
  /* display: flex; */
  position: relative;
  align-content: center;
  justify-content: center;
  margin-top: 5%;
  padding: 30px;
  width: 700px;
  height: 100vh;
  box-sizing: border-box;
  background: #fff87f;
  /* transparent; */
  box-shadow: 0px 10px 20px rgba(250, 107, 107, 0.9);
  border-radius: 15px;
  transition: 0.5s;
}

.recordBox button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #5ffa30;
  color: #fff;
  border: 2px solid #5df621;
  left: 10px;
}

.recordBox button:hover {
  background-color: #4eb30b;
  border: 2px solid #3dad09;
  color: rgb(247, 216, 216);
  cursor: pointer;
}

/*buttons*/
.boton {
  width: 100px;
  height: 50px;
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px;
  color: white;
  background: #a9f51b;
  border-radius: 5px;
  cursor: pointer;
}
/* ZoomIMGE HAPPYE*/
.ZoomImage {
  cursor: zoom-in;
  display: block;
  /* max-width: 200px;
  max-height: 200px;
  max-width: 100%; */
  margin: auto;
}

img.zoomed {
  cursor: zoom-out;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: white;
  transform: translateZ(0);
}

.linkProfile {
  display: flex;
  width: 450px;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  color: white;
  background: #93ff33;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.linkProfile:hover {
  background-color: #c8e61e;
  border: 0.5px solid #3dad09;
  color: rgb(247, 216, 216);
  cursor: pointer;
}

.wrap {
  flex-wrap: wrap;
  /* text-align: center; */
  /* align-items: center; */
  align-content: center;
}

.wrapcalm {
  /* flex-wrap: wrap; */
  flex-direction: row;
  width: 200px;
  align-items: center;
}

.linkcalm {
  display: flex;
  width: 200px;
  height: 20px;
  justify-content: space-evenly;
  padding: 10px;
  margin: 5px;
  color: white;
  background: #48ffd1;
  border-radius: 5px;
  cursor: pointer;
}

.linkcalm:hover {
  background-color: #3cf6af;
  border: 0.5px solid #b6ee9d;
  color: rgb(247, 216, 216);
  cursor: pointer;
}
.linkInfo{
  display: flex;
  width: 450px;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  color: white;
  background: #12be63;
  border-radius: 20px;
  text-decoration: none;
}

.home {
  font-size: 80px;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
