.App {
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: rgb(70, 206, 251);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(45, 144, 144);
  /* rgb(85, 81, 81); */
}

/* .App-link {
  color: #61dafb;
} */

/* NAV-BAR*/
.nav-style {
  background: #ff5733;
  margin: 0 0 1rem;
  width: 100vw;
  height: 70px;
  position: top;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;

  /* background: red;
  width: 100vw;
  height: 120px;
  display: flex;
  position: top;
  margin:0 25px; */
}

.nav-style-not {
  background: #ff5733;
  margin: 0 0 1rem;
  width: 100vw;
  height: 70px;
  position: top;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
}

.nav-style button{
  background: #f58b73;
  color: rgb(238, 231, 231);
  font-size: 30px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}
/* SCSS del LOGIN */

.loginBox {
  /* // display: flex; */
  position: relative;
  align-content: center;
  justify-content: center;
  margin-top: 2%;
  padding: 30px;
  /* // top: 80%;
  // left: 50%;
  // transform: translate(-50%, 0%); */
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
  /* // border-radius: 15px; */
  transition: 0.5s;
}

.loginBox a {
  color: rgb(238, 231, 231);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.loginBox:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0);
  background: #87f5fb;

  /* background: rgba(45, 144, 144, 0.6); */
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #043074;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  margin: 5px;
  /* padding-top: 5px; */
  color: #fff;
  font-size: 16px;
  background: #ff267e;
  cursor: pointer;
  border-radius: 20px;
}
.loginBox input[type="submit"]:hover {
  background: #efed40;
  color: #262626;
}

.loginBox a {
  color: rgb(238, 231, 231);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}


/** RECORDER*/
.btn-box {
  width: 500px;
  height: 100px;
  text-align: center;
  padding: 2px;
}

.btn-box button {
  padding: 10px;
}

/**todolist*/
.ContCalmList {
  display: flex;
  justify-content: center;
}

.todoListMain input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
}

.todoListMain button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
}

.todoListMain button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
}

.recordBox {
  /* display: flex; */
  position: relative;
  align-content: center;
  justify-content: center;
  margin-top: 5%;
  padding: 30px;
  width: 700px;
  height: 100vh;
  box-sizing: border-box;
  background: #fff87f;
  /* transparent; */
  box-shadow: 0px 10px 20px rgba(250, 107, 107, 0.9);
  border-radius: 15px;
  transition: 0.5s;
}

.recordBox button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #5ffa30;
  color: #fff;
  border: 2px solid #5df621;
  left: 10px;
}

.recordBox button:hover {
  background-color: #4eb30b;
  border: 2px solid #3dad09;
  color: rgb(247, 216, 216);
  cursor: pointer;
}

/* ZoomIMGE HAPPYE*/
.ZoomImage {
  cursor: zoom-in;
  display: block;
  /* max-width: 200px;
  max-height: 200px;
  max-width: 100%; */
  margin: auto;
}

img.zoomed {
  cursor: zoom-out;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: white;
  transform: translateZ(0);
}

.linkProfile{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  color:white;
  background: #93ff33;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.wrap {
  flex-wrap: wrap;
}
